<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Chicago Weather</title>
    <th:block th:include="layout/header"></th:block>
    <th:block th:include="layout/footer"></th:block>
</head>
<body>
<div class="container">
        <h2>Chicago Weather</h2>
        <table class="table table-striped">
            <tr>
                <th>CityID</th>
                <th>Temperature</th>
                <th>Weather</th>

            </tr>
            <tr>
                <td th:text="${cityID}">CityID</td>
                <td th:text="${temperature}">Temperature</td>
                <td th:text="${weather}">Weather</td>

            </tr>
        </table>
</div>
</body>
</html>